.s-button {
  background-color: var(--s-accent);
  color: white;
  border: 0;

  &.s-button--rectangle {
    border-radius: 3px;
  }

  &.s-button--round {
    border-radius: 50px;
  }

  &.s-button--sharp {
    border-radius: 0;
  }
}
