.s-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--s-white);

  .s-header-bar__menu-button {
    position: absolute;
    left: 18px;
    cursor: pointer;

    $bun-width: calc(100% - 16px);

    > .s-header-bar__menu-button__bun-top,
    > .s-header-bar__menu-button__bun-bottom {
      display: block;
      position: absolute;
      width: $bun-width;
      height: 1px;
      background-color: currentcolor;
      left: calc(100% - #{$bun-width} - 8px);
      transition: all .25s;
    }

    > .s-header-bar__menu-button__bun-top {
      top: calc(100% - 32px);
    }

    > .s-header-bar__menu-button__bun-bottom {
      bottom: calc(100% - 32px);
    }
  }

  .s-header-bar__menu-button--active {
    > .s-header-bar__menu-button__bun-top {
      top: calc(50%) !important;
      transform: rotate(45deg);
    }

    > .s-header-bar__menu-button__bun-bottom {
      bottom: calc(50% - 1px) !important;
      transform: rotate(135deg);
    }
  }

  .s-header-bar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .s-header-bar__links--mobile {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }

  .s-header-bar__append {
    &.s-header-bar__append--mobile {
      position: absolute;
      right: 18px;
    }
  }
}
