.s-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--s-primary);

  .s-header-bar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
