.s-header-bar-link {

  .s-header-bar__link {
    display: flex;
    align-items: center;
    color: initial;
    text-decoration: none;
    height: 100%;

    &:visited {
      color: initial;
      text-decoration: none;
    }
  }
}
