.s-list-item {
  position: relative;

  &.s-list-item--to {
    cursor: pointer;
  }

  .s-list-item__prepend {
    margin-right: 1rem;
  }

  .s-list-item__arrow-to {
    position: absolute;
    display: flex;
    align-items: center;
    right: .5rem;
    height: 100%;
    top: 0;
  }

  .s-list-item__link {
    color: inherit;
    text-decoration: none;
    width: 100%;

    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}
