.s-section {
  list-style: none;

  .s-section__header {
    color: var(--s-secondary);
    text-transform: uppercase;
    margin-left: .75rem;
  }

  .s-section__items {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    border-radius: 8px;

    > li {
      display: flex;
      align-items: center;
      padding: 8px 12px 8px 0;
      margin-left: .75rem;
      min-height: 1.9rem;
      font-size: 1.07rem;
      border-bottom: 1px solid grey;
    }

    > li:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    > li:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom: none;
    }
  }
}
