@import './variables.scss';

.bg-primary {
  background-color: var(--s-primary);
}

.bg-secondary {
  background-color: var(--s-secondary);
}

//=================
// Font sizes
//=================

@each $var, $val in $text-sizes {
  .text-#{$val} {
    font-size: map-get($var, "size");
    font-weight: map-get($var, "weight");
    line-height: map-get($var, "line-height");
    letter-spacing: map-get($var, "letter-spacing");
  }
}

//=================
// Font Weights
//=================

.text-weight-thin {
  font-weight: map-get($text-weights, "thin");
}

.text-weight-extra-light {
  font-weight: map-get($text-weights, "extra-light");
}

.text-weight-light {
  font-weight: map-get($text-weights, "light");
}

.text-weight-regular {
  font-weight: map-get($text-weights, "regular");
}

.text-weight-medium {
  font-weight: map-get($text-weights, "medium");
}

.text-weight-semibold {
  font-weight: map-get($text-weights, "semibold");
}

.text-weight-bold {
  font-weight: map-get($text-weights, "bold");
}

.text-weight-extra-bold {
  font-weight: map-get($text-weights, "extra-bold");
}

.text-weight-black {
  font-weight: map-get($text-weights, "black");
}

//=======================
// Margins and Paddings
//=======================

.s-pa-md {
  padding: 8px 8px;
}
