.bg-primary {
  background-color: var(--s-primary);
}

.bg-secondary {
  background-color: var(--s-secondary);
}

//=================
// Font Weights
//=================

.text-weight-regular {
  font-weight: 400;
}

.text-weight-bold {
  font-weight: 700;
}

//=======================
// Margins and Paddings
//=======================

.s-pa-md {
  padding: 8px 8px;
}
