@import './variables.scss';

.bg-primary {
  background-color: var(--s-primary);
}

.bg-secondary {
  background-color: var(--s-secondary);
}

//=================
// Font sizes
//=================

@each $name, $var in $text-sizes {
  .text-#{$name} {
    font-size: map-get($var, "size");
    font-weight: map-get($var, "weight");
    line-height: map-get($var, "line-height");
    letter-spacing: map-get($var, "letter-spacing");
  }
}

//=================
// Font Weights
//=================

.text-weight-thin {
  font-weight: map-get($text-weights, "thin");
}

.text-weight-extra-light {
  font-weight: map-get($text-weights, "extra-light");
}

.text-weight-light {
  font-weight: map-get($text-weights, "light");
}

.text-weight-regular {
  font-weight: map-get($text-weights, "regular");
}

.text-weight-medium {
  font-weight: map-get($text-weights, "medium");
}

.text-weight-semibold {
  font-weight: map-get($text-weights, "semibold");
}

.text-weight-bold {
  font-weight: map-get($text-weights, "bold");
}

.text-weight-extra-bold {
  font-weight: map-get($text-weights, "extra-bold");
}

.text-weight-black {
  font-weight: map-get($text-weights, "black");
}

//=======================
// Margins and Paddings
//=======================

.s-pa-md {
  padding: 8px 8px;
}

//=================
// Layout
//=================

.row, .column {
  display: flex;
  flex-wrap: wrap;
}

.row {
  .col-1 {
    height: auto;
    width: 8.3333%;
  }

  .col-2 {
    height: auto;
    width: 16.6667%;
  }

  .col-3 {
    height: auto;
    width: 25%;
  }

  .col-4 {
    height: auto;
    width: 33.3333%;
  }

  .col-5 {
    height: auto;
    width: 41.6667%;
  }

  .col-6 {
    height: auto;
    width: 50%;
  }

  .col-7 {
    height: auto;
    width: 58.3333%;
  }

  .col-8 {
    height: auto;
    width: 66.6667%;
  }

  .col-9 {
    height: auto;
    width: 75%;
  }

  .col-10 {
    height: auto;
    width: 83.3333%;
  }

  .col-11 {
    height: auto;
    width: 91.6667%;
  }

  .col-12 {
    height: auto;
    width: 100%;
  }
}

.column {
  flex-direction: column;
}
