$primary:   #f76060;
$secondary: #1a4dac;

$text-weights: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
);

:root {
  --s-primary: #{$primary};
  --s-secondary: #{$secondary};

  --breakpoint-sm-min: 0;
  --breakpoint-sm-max: 599px;
}

:root {
  --s-size-xs: 0;
  --s-size-sm: 600px;
  --s-size-md: 1024px;
  --s-size-lg: 1440px;
  --s-size-xl: 1920px;
}
